# Looping

In [2]:
Tuple = ("hello")
n = 3
for i in range(int(n)):
    Tuple = (Tuple,)
    print(Tuple)

('hello',)
(('hello',),)
((('hello',),),)

# Built in Function

In [3]:
tuple = ('developer',5,8.9,'r',8)
print(len(tuple))

5

In [5]:
tuple = (9,5,89,4,9)
print(max(tuple))

89

In [6]:
tuple = (9,5,89,4,9)
print(min(tuple))

4

In [7]:
tuple = (9,5,89,4,9)
print(sum(tuple))

116

In [8]:
tuple = (0,1)
print(any(tuple))

True

In [9]:
tuple = (4,1)
print(all(tuple))

True

In [10]:
tuple = (0,5,7)
print(all(tuple))

False

In [11]:
tuple=()
print(all(tuple))

True

# Predict the output

In [15]:
tuple = ("apple", "byte","computer")
n = 2
for i in range(n):
    print(tuple[i])
    break

apple

In [14]:
tuple = ("apple", "byte","computer")
print(list(tuple))

['apple', 'byte', 'computer']

In [16]:
tuple = (3,7,'p','y','z',9.5,'y')
print(tuple.count('y'))

2

In [17]:
tuple = (3,7,'p','y','z',9.5,'y')
print(tuple.index('y'))

3

# Practice

In [18]:
value_tuple = (26,45,'hello')
value = ("a",)

In [19]:
type(value)

tuple

In [20]:
value = "a"

In [21]:
type(value)

str

# Insertion in Tuple

In [22]:
value_tuple = (26,45,'hello',7.5)
value_tuple

(26, 45, 'hello', 7.5)

In [23]:
value_tuple[2] = "Python"
# it gives error because it is immutable tuple

TypeError: 'tuple' object does not support item assignment

# Concatenation

In [24]:
value1_tuple = (26,45,'hello',7.5)
value2_tuple =( 7,5.6,"Python")
value3_tuple  = value1_tuple + value2_tuple 
value3_tuple

(26, 45, 'hello', 7.5, 7, 5.6, 'Python')

# Nesting

In [25]:
value1_tuple = (26,45,'hello',7.5)
value2_tuple =( 7,5.6,"Python")
value3_tuple  = value1_tuple , value2_tuple 
value3_tuple

((26, 45, 'hello', 7.5), (7, 5.6, 'Python'))

# Adding elements to tuple

In [27]:
value1_tuple = (26,45,'hello',7.5)
value1_tuple = value1_tuple+(7,)
value1_tuple

(26, 45, 'hello', 7.5, 7)

In [32]:
value_tuple = (26,45,'hello',7.5)
converted_list = list(value_tuple)
converted_list

[26, 45, 'hello', 7.5]

In [33]:
converted_list.append(7)
converted_list

[26, 45, 'hello', 7.5, 7]

In [6]:
value1_tuple = tuple(converted_list)
value1_tuple

NameError: name 'converted_list' is not defined

In [9]:
a = (10,20,30)
b = list(a)
b.append(7)
print(b)

[10, 20, 30, 7]

In [10]:
x = tuple(b)
x

(10, 20, 30, 7)

# Repetition in Tuple

# write a python program to get the tuple values from the user and print it ?

In [1]:
value =()
n = int(input())
list_1=[]
for i in range(n):
    list_1.append(int(input()))
    value=tuple(list_1)

 4
 1 2 3 4

ValueError: invalid literal for int() with base 10: '1 2 3 4'

# Accessing Values in tuple

In [11]:
number = ("one", "Two", "Three", "Four")
i = 0 
while i < len(number):
    print(number[i])
    i = i + 1

one
Two
Three
Four

In [12]:
number = ("one", "Two", "Three", "Four")
for i in number:
    print(i)

one
Two
Three
Four

# Write a python program to get the elements 45 from the below tuple ?

In [13]:
value_tuple = ( 1,2,3,4,5,6,7,8,9)
print(value_tuple[6])

7

# Unpacking the Tuples

In [15]:
numbers = ("One","Two","Three","Four")
(a,b,c,d)= numbers
print(a)

One

In [16]:
numbers = ("One","Two","Three","Four")
(a,*b,c)= numbers
print(a)
print(*b)
print(c)

One
Two Three
Four

# write a python code to get the input from the user and find the length of the tuple ?

In [18]:
tuple_=(12,6,7,8)
print(len(tuple_))

4