In [3]:
## unordered and unidexed collection of elements

value_set = { 2,6,9}
print(value_set[0])

# becausse set not satify indexing

TypeError: 'set' object is not subscriptable

# Looping in sets

In [4]:
value_set = {2,'PYTHON','a',5,9.4}
for i in value_set:
    print(i)

a
2
5
PYTHON
9.4

# Predict the output

In [ ]:
value_set =  {2,'PYTHON','a',5,9.4}
print('PYTHON'

# Add Elements

In [6]:
value_set =  {2,'PYTHON','a',5,9.4}
value_set.add("apple")
print(value_set)

{'a', 2, 5, 'PYTHON', 9.4, 'apple'}

 # Get the length of a set

In [7]:
value_set =  {2,'PYTHON','a',5,9.4}
print(len(value_set))

5

# Remove Elements

In [8]:
value_set =  {2,'PYTHON','a',5,9.4}
value_set.remove("PYTHON")
print(value_set)

{'a', 2, 5, 9.4}

In [9]:
value_set =  {2,'PYTHON','a',5,9.4}
value_set.discard("PYTHON")
print(value_set)

{'a', 2, 5, 9.4}

In [4]:
# Que - why the elements are not printed in the order as we have givven ?
# ans = set is unordered because set is not indexed

values = {6,'Python',5.6}
values

{5.6, 6, 'Python'}

In [5]:
type(values)

set

In [12]:
value = {}
type(value) # representation is similar to dict
            # both set and dict use curly brackets 
            # difference is set have only value and dict have key and values.

dict

In [10]:
value = set()
type(value)

set

In [11]:
values = {12,1,2,3,2,45,4,5,3}
values

{1, 2, 3, 4, 5, 12, 45}

In [13]:
# in the above values set, there are 8 elements but it has added only 6 elements ?
# in the values set,the

# Creating  a set

In [15]:
set1 = set()
print(set1)

set()

In [16]:
value_set = {2,'Python','a',5,9.4}
value_set

{2, 5, 9.4, 'Python', 'a'}

# write a python code to access an element in the set ?

# what are the ways to add an element

In [17]:
value_set.append("Hello")
value_set

AttributeError: 'set' object has no attribute 'append'

# Understanding the errors in python

In [30]:
# 1)TypeError
# 2)AttributeError
# 3) KeyError
# 4) NameError

In [18]:
value_set = value_set + "Hello"
value_set

TypeError: unsupported operand type(s) for +: 'set' and 'str'

In [21]:
value_set.add("apple")
value_set

# add contains 1 elements at a time

{2, 5, 9.4, 'Python', 'a', 'apple'}

# Deleting a elements in set

In [24]:
value_set = {2,'PYTHON','a',5,9.4}
value_set

{2, 5, 9.4, 'PYTHON', 'a'}

In [29]:
value_set.remove('PYTHON')

KeyError: 'PYTHON'

In [28]:
value_set

{2, 5, 9.4, 'a'}

In [31]:
value_set.discard(9.4)

In [32]:
value_set

{2, 5, 'a'}

In [33]:
value_set.discard(10)

In [34]:
value_set

{2, 5, 'a'}

# Difference between remove() and discard()

# Clear or delete a set

In [35]:
value_set = {2,'PYTHON','a',5,9.4}
value_set

{2, 5, 9.4, 'PYTHON', 'a'}

In [36]:
value_set.clear()
value_set

set()

In [37]:
del value_set

In [38]:
value_set

NameError: name 'value_set' is not defined

# Que) write a python code to get the set elements from the user and print the elements in the created set ?

In [3]:
value_set=set()
n=int(input())
for i in range(n):
    value_set.add(int(input()))

 4
 12
 26
 10
 6

In [4]:
value_set

{6, 10, 12, 26}

In [5]:
for i in value_set:
    print(i)

26
10
12
6

# write a python code to check whether the elements got from the user is present in the value_set ?

In [7]:
# Define the value set
value_set = {6, 12, 26, 10}

# Get user input as a list of numbers
user_input = input("Enter elements separated by spaces: ")

# Convert user input into a set of integers
user_elements = set(map(int, user_input.split()))

# Check if elements are present in the value_set
for element in user_elements:
    if element in value_set:
        print(f"{element} is present in the value_set.")
    else:
        print(f"{element} is not present in the value_set.")

Enter elements separated by spaces:  0

0 is not present in the value_set.

# write a python program to find the length of the set

In [8]:
len(value_set)

4

# Union of two sets

In [9]:
month1_set = {"Jan","Feb","Dec","Mar"}
month2_set = {"May","Jan","Oct","Mar"}

In [10]:
month1_set

{'Dec', 'Feb', 'Jan', 'Mar'}

In [11]:
month2_set

{'Jan', 'Mar', 'May', 'Oct'}

In [12]:
month = month1_set | month2_set

In [13]:
month

{'Dec', 'Feb', 'Jan', 'Mar', 'May', 'Oct'}

In [14]:
month_common = month1_set.union(month2_set)

In [15]:
month_common

{'Dec', 'Feb', 'Jan', 'Mar', 'May', 'Oct'}

# Intersection of two sets

In [16]:
common = month1_set & month2_set

In [17]:
common

{'Jan', 'Mar'}

In [18]:
common = month1_set.intersection(month2_set)

In [20]:
common

{'Jan', 'Mar'}

# Difference of two sets

In [21]:
diff = (month1_set - month2_set)

In [22]:
diff

{'Dec', 'Feb'}

In [23]:
x = month1_set.difference(month2_set)

In [24]:
x

{'Dec', 'Feb'}

# Set Comparisons

In [27]:
month1_set = {"Jan","Feb","Dec","Mar"}
month2_set = {"Jan", "Feb"}

In [28]:
month1_set > month2_set

True

In [29]:
month1_set = {"Jan","Feb","Dec","Mar"}
month2_set = {"Nov", "Oct"}

In [30]:
month1_set > month2_set

False

In [1]:
month1_set = {"Jan","Feb","Dec","Mar"}
month2_set = {"Jan", "Feb"}
print(month1_set > month2_set)
print(month1_set < month2_set)
print(month1_set == month2_set)

True
False
False

## Frozen Sets