In [ ]:
#practice session 
# control structure if , if else

In [1]:
#que 1

n=5
if n>0:
    print("Number is Positive")
else:
    print ("Number is Negative")

Number is Positive

In [ ]:
5

In [ ]:
#example 1

i = 16
if i<15:
    print("i is smaller than 15")
else:
   if i>20:
    print("i is also greater than 20")
   else:
    print("i is between 15 and 20")

In [ ]:
#example 2

a=10
if a>20:
    print("a

In [ ]:
n = int(input("enter your number")
        if n > 0

In [9]:
#que 4

d = int(input("enter your number"))
if d%2==0 and d%3 == 0:
    print("yes, d is divisible by 2 and 3")
else:
    print("not divisible")

enter your number 9

not divisible

In [10]:
#leap year or not
year = int(input("enter year"))
if (year%4 == 0 and year%100 != 0) or ( year%400 == 0):
    print("its a leap year")
else:
    print( " it is not a leap year")

enter year 2000

its a leap year

In [16]:
#que 2
day = int(input(" enter day"))
if day<=5:
    print( day*2)
elif day >= 6 and day <=10:
    print(10 + ( ( day - 5)*3))
elif day >= 11 and day <=15:
    print(25+(day-10)*4)
else:
    print(45+ (day - 15)*5)

 enter day 7

16

In [4]:
#que 3 odd or even
n= int(input("enter a number:"))
if  n>0:
    if n%2 != 0:
        print("weird")
    elif n%2 == 0 and (n>=2 and n<=5):
        print("not weird")
    elif n%2 == 0 and (n>=6 and n<= 20):
        print("weird")
    elif n%2==0 and n>20:
        print("not weird")
    else:
        print("na")

enter a number: 3

weird

In [18]:
marks = int (input("enter your secured marks"))
if marks>=60:
    print("first Division")
elif marks>=50 and marks<=59:
    print("second Division")
elif marks>=40 and marks<=49:
    print("third division")
elif marks<40:
    print("fail")
else:
    print("Na")

enter your secured marks 62

first Division

In [30]:
a = int(input("enter your"))
b = int(input("enter your"))
c = int(input("enter your"))
if a > b and a > c:
    print("a is greatest")
elif b > a and b > c:
    print("b is greatest")
else:
    print("c is greatest")

enter your 1
enter your 2
enter your 3

c is greatest

In [11]:
#find second laargest of three number
num1 = int(input("Enter your num1"))
num2 = int(input("Enter your num2"))
num3 = int(input("Enter your num3"))
largest = 0
smallest = 0

#finding largest number
if num1>num2 and num1>num3:
    largest = num1
elif num2>num1 and num2>num3:
    largest = num2
else:
    largest = num3

#finding smallest number
if num1<num2 and num1 <3:
    smallest = num1
elif num2<num1 and num2<num3:
    smallest = num2
else:
    smallest = num3
    
    
secondlargest = num1+num2+num3 -(largest+smallest)
print(secondlargest)

Enter your num1 50
Enter your num2 45
Enter your num3 60

50

In [7]:
#write a program to find the smallest of given four numbers

num1 = int(input("Enter your num1"))
num2 = int(input("Enter your num2"))
num3 = int(input("Enter your num3"))
num4 = int(input("Enter your num3"))
if num1<num2 and num1 <num3 and num1<num4:
    print("num1 is smallest number")
elif num2<num1 and num2<num3 and num2<num4:
    print("num2 is smallest number")
else:
    print("num3 is smallest number")

Enter your num1 1
Enter your num2 2
Enter your num3 3
Enter your num3 4

num1 is smallest number

In [5]:
# write a program to check whether the user input number,which is divisible by 2 and 3 both
number = int(input("Enter your number"))
if number%2==0 and number%3==0: 
    print(" number is divisible by 2 and 3")
else:
    print("number is not divisible by 2 and 3")

Enter your number 4

number is not divisible by 2 and 3

In [5]:
number = int(input("enter your number"))
if 100 <= number <= 999:
    number_str = str(number)
    middle_digit = int(number_str[1])
    if middle_digit%3 == 0:
        print("trendy number")
    else:
        print("Not trendy")
else:
    print("not trendy")

enter your number 546

Not trendy

In [ ]:
n_items = int(input())
single_item_htime = float(input())

if n_items == 1:
    r_time = single_item_htime
elif n_items == 2:
    r_time == single_item_htime*1.5
elif n_items == 3:
    r_time == single_item_htime*2
else:
    print("number of items is more")
    
print(r_time)

# 26-9-2024

## LOOPING CONSTRUCTS

In [ ]:
#FOR
# SYNTAX : for <variable> in <sequence>

In [3]:
for a in "12345":
    print(a)

1
2
3
4
5

In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [5]:
for i in range(50):
    if i%2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:

tuition_fee = 50000 
bus_fee = 5000       
hostel_fee = 20000   
def calculate_fee(student_type):
    if student_type == "MSDS":
        
        return tuition_fee + bus_fee
    elif student_type == "MSH":
       
        return tuition_fee + hostel_fee
    elif student_type == "MGSDS":
       
        return 1.5 * tuition_fee + bus_fee
    elif student_type == "MGSH":
        
        return 1.5 * tuition_fee + hostel_fee
    else:
        return "Invalid student type"


student_type = input("Enter the student type (MSDS, MSH, MGSDS, MGSH): ")


fee = calculate_fee(student_type)
print(f"Total fee to be collected: {fee}")